body {
    --bgBodyColor: #f8d4ba;
    background-color: var(--bgBodyColor);
    color: var(--txtMainColor);
    --txtMainColor: black;     /* Цвет основного текста */
    --link1Color: #d69f3a;     /* Цвет 1 ссылки */
    --link2Color: #c34f5a;     /* Цвет 2 ссылки */
    --link3Color: #7f3535;     /* Цвет 3 ссылки */
}

.themeName2::after {
    color: #76bf57;
}

.themeName1::after, .themeName3::after {
    color: var(--bgcolor);
}

form, .text {
    color: var(--txtMainColor);
}

.nav-link {
    color: rgb(30, 30, 30);
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}

.ul {
    color: black;
}