body {
    background-color: #f8d4ba;
    color: var(--txtMainColor);
    --txtMainColor: black;     /* Цвет основного текста */
    --link1Color: #d69f3a;     /* Цвет 1 ссылки */
    --link2Color: #c34f5a;     /* Цвет 2 ссылки */
    --link3Color: #7f3535;     /* Цвет 3 ссылки */
}

.zagolovokTheme2 {
    color: #76bf57;
}

form, .text {
    color: var(--txtMainColor);
}

.nav-link {
    color: rgb(30, 30, 30);
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}

.ul {
    color: black;
}