:root {
    --txtMainColor: black;     /* Цвет основного текста */
    --link1Color: #5a8100;     /* Цвет 1 ссылки */
    --link2Color: #ffb400;     /* Цвет 2 ссылки */
    --link3Color: #ff6c02;     /* Цвет 3 ссылки */
}

body {
    background-color: #fff9e9;
    color: var(--txtMainColor);
}

form {
    color: var(--txtMainColor);
}

.nav-link {
    color: black;
}

.text {
    color: var(--txtMainColor);
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}




/* custom.html */


ul {
    color: black;
}




