:root {
    --txtMainColor: black;     /* Цвет основного текста */
    --link1Color: #6363b6;     /* Цвет 1 ссылки */
    --link2Color: #eb8f90;     /* Цвет 2 ссылки */
    --link3Color: #ffb471;     /* Цвет 3 ссылки */
}

body {
    background-color: #adbed2;
    color: var(--txtMainColor);
}

form {
    color: var(--txtMainColor);
}

.text {
    color: var(--txtMainColor);
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}




/* custom.html */


ul {
    color: black;
}






