:root {
    --txtMainColor: rgb(201, 201, 201);     /* Цвет основного текста */
    --link1Color: #fec6ad;     /* Цвет 1 ссылки */
    --link2Color: #a2b75c;     /* Цвет 2 ссылки */
    --link3Color: #fe6323;     /* Цвет 3 ссылки */
}

body {
    background-color: #1f1f29;
    color: var(--txtMainColor);
}

form {
    color: var(--txtMainColor);
}

ul button {
    background-color: rgb(201, 201, 201);
}

ul li{
    background-color: rgb(101, 101, 101);
}

.header {
    background-color: rgb(121, 121, 121);
}

input {
    color: rgb(201, 201, 201);
}

.nav-link {
    color: black
}



.text {
    color: var(--txtMainColor);
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}




/* custom.html */


ul {
    color: black;
}






