:root {
    --txtMainColor: black;     /* Цвет основного текста */
    --link1Color: #859f3c  ;     /* Цвет 1 ссылки */
    --link2Color: #007f52  ;   /* Цвет 2 ссылки */
    --link3Color: #45451f ;   /* Цвет 3 ссылки */
}

body {
    background-color: #ebe5d9;
    color: var(--txtMainColor);
}

form, input, .nav-link, .text  {
    color: var(--txtMainColor);
}

ul button{
    background-color: white;
}

.header, ul li {
    background-color: #c7bba3 ;  
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}

ul {
    color: black;
}
