:root {
    --txtMainColor: black;     /* Цвет основного текста */
    --link1Color: #d4587a;     /* Цвет 1 ссылки */
    --link2Color: #778633;     /* Цвет 2 ссылки */
    --link3Color: #dc364c;     /* Цвет 3 ссылки */
}

body {
    background-color: #e6b6c2;
    color: var(--txtMainColor);
}

form {
    color: var(--txtMainColor);
}

.nav-link {
    color: black;
}

.text {
    color: var(--txtMainColor);
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}




/* custom.html */


ul {
    color: black;
}




