:root {
    --txtMainColor: white;     /* Цвет основного текста */
    --link1Color: #12406a;     /* Цвет 1 ссылки */
    --link2Color: #eb8f90;     /* Цвет 2 ссылки */
    --link3Color: #ffb471;     /* Цвет 3 ссылки */
}

body {
    background-color: rgb(29, 29, 29);
    color: var(--txtMainColor);
}

form {
    color: var(--txtMainColor);
}

.nav-link {
    color: white;
}

.link-1 {
    background:
     linear-gradient(
       to bottom,
       var(--link1Color) 0%,
       var(--link1Color) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    
}

.link-2 {
    background:
     linear-gradient(
       to bottom,
       var(--link2Color) 0%,
       var(--link2Color) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
}

.link-3 {
    background:
     linear-gradient(
       to bottom,
       var(--link3Color) 0%,
       var(--link3Color) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
}

.text {
    color: var(--txtMainColor);
}

.submit {
    margin: auto 0px;
    padding: 5px;
    opacity: 0;
}

.dot1 {
    background-color: var(--link1Color);
}

.dot2 {
    background-color: var(--link2Color);
}

.dot3 {
    background-color: var(--link3Color);
}




/* custom.html */


ul {
    color: white;
}

ul li {
    background-color: #4e4e4e;
}

.flex-wrap {
    flex-wrap: wrap;
}

.circleColorBG1 {
    background-color: #adbed2;
}

.circleColorBG2 {
    background-color: #e4dace;
}

.circleColorBG3 {
    background-color: #c2e6ff;
}

.circleColor1 {
    background-color: #12406a;
}

.circleColor2 {
    background-color: #eb8f90;
}

.circleColor3 {
    background-color: #ffb471;
}

.circleColor4 {
    background-color: #e5bb4b;
}

.circleColor5 {
    background-color: #498eaf;
}

.circleColor6 {
    background-color: #631f16;
}

.circleColor7 {
    background-color: #859f3c;
}

.circleColor8 {
    background-color: #007f52;
}

.circleColor9 {
    background-color: #45451f;
}






